asap3==3.10.10
ase==3.16.2
certifi==2018.1.18
click==6.7
cycler==0.10.0
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.15.0
pip==18.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
scipy==1.1.0
setuptools==40.0.0
six==1.11.0
Werkzeug==0.14.1
wheel==0.31.0
